<html>

<head>
    <title>Sync Hub</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/codemirror.css">
    <link rel="stylesheet" href="/Stylesheets/style.css">

    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/angular.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-sm">
        <a class="navbar-brand" href="">
            <img src="/Resources/github-logo.png" width="30" height="30" class="d-inline-block align-top">
            SyncHub
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">File</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Preferences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Terminal</a>
            </li>
        </ul>
    </nav>

    <div id="user-status" ng-app="user-status" ng-controller="user-status-controller">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in users">
                {{user}}
            </li>
        </ul>
    </div>

    <script>
        var app = angular.module("user-status", []);
        app.controller("user-status-controller", function ($scope) {
            $scope.users = [];
        });
    </script>

    <div class='form-control'>
        <textarea id='textarea'></textarea>
    </div>

    <script src="/codemirror.js"></script>
    <script src="/python/python.js"></script>
    <script src='/scripts/textbox_controller.js'></script>
    <script>
        var socket = io();
        var room_id = window.location.pathname;

        var textarea = document.getElementById('textarea')
        var editor = CodeMirror.fromTextArea(textarea, {
            lineNumbers: true,
            lineWrapping: true,
            viewportMargin: Infinity,
            mode: 'python'
        });

        var changeable = true

        editor.on('change', function () {
            if (changeable) {
                socket.emit('text update', room_id, editor.getValue(), 0)
            }
        });

        socket.on('text update', function (text, pos) {
            changeable = false
            editor.setValue(text)
            changeable = true
        });

        socket.on('join_room', function (users) {
            var scope = angular.element(document.getElementById('user-status')).scope();
            scope.$apply(function () {
                scope.users = [];
                for (var i = 0; i < users.length; i++) {
                    scope.users.push(users[i]);
                }
            });
        });

        socket.emit("join room", room_id);
    </script>
</body>

</html>