<html>
    <head>
        <title>RIP Github</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">RIP GIThub</h1>
            <p class="lead">Here lies Git ~Kun</p>
          </div>
        </div>
        <textarea placeholder = "Type here!">
            
        </textarea>
    </body>
</html>