.form-control {
    width: 95%;
    height: unset;

    margin-top: 2.5%;
    margin-left: 2.5%;

    padding: 0;
}

.CodeMirror {
    height: auto;
}

.form-control .primary-border :focus-within {
    border: 1px solid #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.span{

    white-space:pre;
}

.list-group {
    width: 95%;
    height: auto;

    margin-top: 2.5%;
    margin-left: 2.5%;
}

